.homeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDF8C;

h4{
  margin: 15px 45px;
  font-size: 40px;
}
}

.homeWrapper{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  margin: 20px auto;
  height: 90%;
  border-radius: 10px;
}



.pizzaOptions{
  margin: 50px 60px ;
  display: flex;
  justify-content: space-between;


}

.pizzaList{
  display: flex;
  flex-wrap:  wrap;
  gap: 30px;
  padding: 40px 20px;
  justify-content: flex-start;
  margin: 20px;

}

.cartButton {
  padding: 1px;
  font-weight: 900;
  background-color: #fe5f1e;
  border: none;
  color: white;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  display: flex;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: orangered;
  }
}